<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.lcserve.mapper.AchievesMapper">

    <resultMap id="BaseResultMap" type="com.lc.lcserve.entity.Achieves">
            <id property="achid" column="achid" jdbcType="INTEGER"/>
            <result property="achname" column="achname" jdbcType="VARCHAR"/>
            <result property="achcont" column="achcont" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="isachieve" column="isachieve" jdbcType="VARCHAR"/>
    </resultMap>

<!--    <sql id="Base_Column_List">-->
<!--        achid,achname,achcont,-->
<!--        type,isachieve-->
<!--    </sql>-->
</mapper>
