<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.lcserve.mapper.TransGoodsMapper">

    <resultMap id="BaseResultMap" type="com.lc.lcserve.entity.TransGoods">
            <id property="gid" column="gid" jdbcType="INTEGER"/>
            <result property="gname" column="gname" jdbcType="VARCHAR"/>
            <result property="gprice" column="gprice" jdbcType="DECIMAL"/>
            <result property="soldNum" column="sold_num" jdbcType="INTEGER"/>
            <result property="gamount" column="gamount" jdbcType="INTEGER"/>
            <result property="gdetail" column="gdetail" jdbcType="VARCHAR"/>
            <result property="gtype" column="gtype" jdbcType="VARCHAR"/>
    </resultMap>

<!--    <sql id="Base_Column_List">-->
<!--        gid,gname,gprice,-->
<!--        sold_num,gamount,gdetail,-->
<!--        gtype,gimg-->
<!--    </sql>-->

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
            gid,gname,gprice,
            sold_num,gamount,gdetail,
            gtype,gimg
        from trans_goods
        where  gid = #{gid,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from trans_goods
        where  gid = #{gid,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.lc.lcserve.entity.TransGoods" useGeneratedKeys="true">
        insert into trans_goods
        ( gid,gname,gprice
        ,sold_num,gamount,gdetail
        ,gtype,gimg)
        values (#{gid,jdbcType=INTEGER},#{gname,jdbcType=VARCHAR},#{gprice,jdbcType=DECIMAL}
        ,#{soldNum,jdbcType=INTEGER},#{gamount,jdbcType=INTEGER},#{gdetail,jdbcType=VARCHAR}
        ,#{gtype,jdbcType=VARCHAR},#{gimg,jdbcType=BLOB})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.lc.lcserve.entity.TransGoods" useGeneratedKeys="true">
        insert into trans_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="gid != null">gid,</if>
                <if test="gname != null">gname,</if>
                <if test="gprice != null">gprice,</if>
                <if test="soldNum != null">sold_num,</if>
                <if test="gamount != null">gamount,</if>
                <if test="gdetail != null">gdetail,</if>
                <if test="gtype != null">gtype,</if>
                <if test="gimg != null">gimg,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="gid != null"> #{gid,jdbcType=INTEGER},</if>
                <if test="gname != null"> #{gname,jdbcType=VARCHAR},</if>
                <if test="gprice != null"> #{gprice,jdbcType=DECIMAL},</if>
                <if test="soldNum != null"> #{soldNum,jdbcType=INTEGER},</if>
                <if test="gamount != null"> #{gamount,jdbcType=INTEGER},</if>
                <if test="gdetail != null"> #{gdetail,jdbcType=VARCHAR},</if>
                <if test="gtype != null"> #{gtype,jdbcType=VARCHAR},</if>
                <if test="gimg != null"> #{gimg,jdbcType=BLOB},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lc.lcserve.entity.TransGoods">
        update trans_goods
        <set>
                <if test="gname != null">
                    gname = #{gname,jdbcType=VARCHAR},
                </if>
                <if test="gprice != null">
                    gprice = #{gprice,jdbcType=DECIMAL},
                </if>
                <if test="soldNum != null">
                    sold_num = #{soldNum,jdbcType=INTEGER},
                </if>
                <if test="gamount != null">
                    gamount = #{gamount,jdbcType=INTEGER},
                </if>
                <if test="gdetail != null">
                    gdetail = #{gdetail,jdbcType=VARCHAR},
                </if>
                <if test="gtype != null">
                    gtype = #{gtype,jdbcType=VARCHAR},
                </if>
                <if test="gimg != null">
                    gimg = #{gimg,jdbcType=BLOB},
                </if>
        </set>
        where   gid = #{gid,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lc.lcserve.entity.TransGoods">
        update trans_goods
        set 
            gname =  #{gname,jdbcType=VARCHAR},
            gprice =  #{gprice,jdbcType=DECIMAL},
            sold_num =  #{soldNum,jdbcType=INTEGER},
            gamount =  #{gamount,jdbcType=INTEGER},
            gdetail =  #{gdetail,jdbcType=VARCHAR},
            gtype =  #{gtype,jdbcType=VARCHAR},
            gimg =  #{gimg,jdbcType=BLOB}
        where   gid = #{gid,jdbcType=INTEGER} 
    </update>
</mapper>
